.wrapper {
  overflow: hidden;
  transition: height 1000ms ease;
}

.filterbar {
  background: white;
  height: 120px;

  gap: 1px;

  $block: &;

  &__filterbar {
    @at-root #{$block}__title {
      padding-top: 12px;
      text-align: center;
      font-size: 36px;
      text-transform: capitalize;
      border-top: 1px solid black;
    }
    @at-root #{$block}__options {
      width: 450px;
      height: fit-content;
      display: flex;
      gap: 1px;
      justify-content: space-between;
      align-items: center;

      grid-template-columns: repeat(auto-fill, 100px);

      margin: 30px auto;

      @at-root #{$block}__label {
        font-size: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        cursor: pointer;
      }
    }
  }

  // &__cell {
  //   background: #fff;
  //   margin: 1px 0 0 0;
  // }

  // &__logo {
  //   @extend .navbar__cell;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // &__filters {
  //   @extend .navbar__cell;
  //   display: grid;
  //   grid: 1px;
  // grid-template-columns: repeat(4, 1fr);
  //   justify-content: center;
  //   align-items: center;

  //   & > button {
  //     margin: 1px 0 0 0;
  //     text-align: center;
  //     height: 100%;
  //     border-right: 1px solid black;
  //     background-color: initial;

  //     cursor: pointer;

  //     border: none;
  //     padding: 0;
  //     margin: 0;
  //     color: initial;
  //     font-size: inherit;
  //     font-family: inherit;
  //   }
  // }
}
